# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://nsxcounkkyhnqviygypw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_mEivvD-0WK6XBCQIkxXaDQ_EFGAiN5j

# Stripe (for checkout sessions)
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_...
